<form method="get" action="/gallery/" id="paginator">
<nav aria-label="Панель навигации">
  <ul>
    {% if image_feeds.has_other_pages %}
      {% if image_feeds.has_previous %}
        <li class="inline-block">
          <a href="?page={{ image_feeds.previous_page_number }}" aria-label="Предыдущая страница">
            <span class="big_font padding_font"> << </span>
          </a>
        </li>
      {% else %}
        <li class="inline-block"><span  class="big_font padding_font"> << </span></li>
      {% endif %}

      {% for i in image_feeds.paginator.page_range %}
        {% if image_feeds.number == i %}
          <li class="inline-block">
            <span class="padding_font super_big_font"><b> {{ i }} </b></span>
          </li>
        {% else %}
          <li class="inline-block">
            <a href="?page={{ i }}">
              <span class="big_font padding_font"> {{ i }} </span>
            </a>
          </li>
        {% endif %}
      {% endfor %}

      {% if image_feeds.has_next %}
        <li class="inline-block">
          <a href="?page={{ image_feeds.next_page_number }}" aria-label="Следующая страница">
            <span class="big_font padding_font"> >> </span>
          </a>
        </li>
      {% else %}
        <li class="inline-block"><span class="big_font padding_font"> >> </span></li>
      {% endif %}
    {% if user.is_authenticated %}
      <b class="big_font padding_font inline-block">|</b>
    {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
    <span class="big_font padding_font inline-block">Картинок:</span>
      <select class="big_font" id="cnt" name="cnt"
              onchange="document.getElementById('paginator').submit();">
        <option value="0"></option>
        <option value="9">9</option>
        <option value="12">12</option>
        <option value="30">30</option>
        <option value="90">90</option>
        <option value="150">150</option>
      </select>
    {% endif %}
  </ul>
</nav>
</form>